@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@1,300&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
    background-color:#F5F5F5;
}

body { 
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: black;
}
/*heading and title*/

h1, h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 6px;
    color:black
}

#title{ 
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

/* navigation bar*/

#menu {
    font-size: 100%;
    letter-spacing: 6px;
}

#menu, #logo{
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}
#menu a:hover {
    border-bottom: 2px dotted rgba(255, 100, 0, .7);
}

.active{
    border-bottom: 2px dotted black;
}

/*header image*/

#header{
    height: 500px;
    width: 100%;
    background: url(../images/header3.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
} 

/* header text*/


#header-text { 
    font-size: 120%;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;
    color:black;

    width: 450px;
    height: 60px;

    padding: 20px;

    background-color:rgba(255, 100, 0, .5);

    bottom: 30px;
    right: 70px;

    position: absolute;
}

#header-text h3 {
    background-color: transparent;
}

/* inspiration section */

#inspo {
    height: 500px;
}
#inspo-header { 
    width: 90%;
    padding-top: 50px;
    padding-left: 50px;
    text-align: center;
    font-size: 200%;text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 100, 0, .7);

}

#inspo-left {
    padding-top: 30px;
    width: 60%;
    float: left;
}

#inspo-right{
    padding-top: 30px;
    width: 40%;
    float: right;
    margin: 0 auto;
}

.inspo-text-left {
    width: 60%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    padding-left: 50px;
}
.inspo-text-left h2 {
    text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 100, 0, .7);
}

#pic-border {
    width: 400px;
    height: 400px;
    padding: 20px;
    border-style: dotted;
    border-color:rgba(255, 100, 0, .7);
    border-width: 2px;
    margin-bottom: 40px;
    text-align: center;
}
#inspo-pic {
    background: no-repeat center center;
    height: 100%;
}


/*footer*/
footer {
   text-align: center;
   padding: 3px;
   height:50px ;
   clear: both;
   background-color: rgba(255, 100, 0, .5);
}
footer p {
    background-color: transparent;
}

.social-networks {
    text-align: center;
    background-color: transparent;
}

.social-networks > li {
    display: inline;
    background-color: transparent;
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    color: #000;
    background-color: transparent;
}
.social-networks a {
    background-color: transparent;
}

/* recipe page header */

#recipe-header{
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    text-align: center;
    font-size: 200%;
}

#cake-info{
    width: 90%;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    padding: 50px;
    text-align: center;
}

/* cook/prep time & servings */
.time-table {
    width: 70%;
    text-align: center;
    font-size: 20px;
    border: dotted 2px black;
    margin-left: auto;
    margin-right: auto;
}
.time-table i:hover{
    font-size: 40px;
}
th, td {
    padding: 5px;
}

.time-table i {
    color:rgba(255, 100, 0, .7);
}
/*ingredients & instructions*/

#main-recipe-header {
    width: 100%;
    padding-top: 80px;
    font-size: 200%;
    text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 100, 0, .7);
    text-align: center;
}

.recipe-header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 200%;
    text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 100, 0, .7);
}

.second-header {
    width: 100%;
    font-size: 120%;
}

.list{
    line-height: 30px;
    padding-bottom: 20px;
}

#recipe-right{
    padding-top: 30px;
    width: 40%;
    float: right;
}
#recipe-left{
    padding-top: 30px;
    width: 60%;
    float: left;
    text-align: left;
}

.recipe-text-left {
    width: 60%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    padding-left: 50px;
}

#recipe-pic-border {
    width: 500px;
    height: 637px;
    padding: 20px;
    border-style: dotted;
    border-color:rgba(255, 100, 0, .7);
    border-width: 2px;
    margin:60px;
    float: right;
}
#recipe-pic {
    background: no-repeat center center;
    height: 100%;
}
#notes-header {
    width: 100%;
    padding: 20px;
    font-size: 200%;
    text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 100, 0, .7);
}
#notes {
    margin: 20px;
    text-align: center;
    line-height: 30px;
    padding-right: 100px;
}
#recipe-right p {
    line-height: 30px;
}

/* benefits page */

#main-header{
    width: 100%;
    padding-top: 70px;
    font-size: 200%;
    text-align: center;
    text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 100, 0, .7);
}
#benefits-header {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 200%;
    text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 100, 0, .7);
}

#benefits p {
    margin: 40px;
    text-align: center;
}
#benefits h3 {
    margin: 10px;
    text-align: center;
}

#benefits-right{
    padding-top: 30px;
    width: 40%;
    float: right;
    text-align: center;
}
#benefits-left{
    padding-top: 10px;
    width: 60%;
    float: left;
    text-align: left;
}
.list-benefits {
    margin: 30px;
    text-align: center;
    list-style-type: none;
}

.benefits-text-left {
    width: 80%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    padding-left: 50px;
}
#benefits-pic-border{
    width: 390px;
    height: 530px;
    padding: 20px;
    border-style: dotted;
    border-color:rgba(255, 100, 0, .7);
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#benefits-pic {
    background: url(../images/benefits2.jpg) no-repeat center center;
    height: 100%;
}
#benefits-notes {
    margin-top: 100px;
    text-align: center;
    line-height: 30px;
}

/* media queries */

/* large to medium - 1200px wide and down*/

@media screen and (max-width: 1200px){
    #inspo {
        width: 100%;
        height: 1000px;
        margin: 10px auto;
        text-align: center;
    }
    #inspo-header{
        padding: 20px;
        margin: 0 ;
        text-align: center;
    }
    #inspo-left {
        width: 100%;
        float: left;
        text-align: center;
    }
    .inspo-text-left{
        width: 90%;
        float: left;
        text-align: center;
    }
    #inspo-right{
        width: 70%;
        margin-left: 30%;
        float: left;
    }
/* recipe responsive*/
    #recipe-main {
        width: 100%;
        height: 2600px;
        margin: 10px auto; 
    }
    
    #main-recipe-header {
        padding-top: 70px;
        padding-left: 30px;
        margin: 0 ;
        width: 90%;
        text-align: center;
    }
    #cake-info{
        width: 90%;
    }
    .time-table {
        width: 70%;
        margin: 10px auto;
    }
    #recipe-left {
        width: 100%;
        float: left;
    } 
    #recipe-right{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    #recipe-right p {
        width: 100%;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    #recipe-right h3 {
        width: 90%;
        float:left;
        margin-left: 20px;
    }

    #recipe-pic-border {
        margin-right: 25%;
    }
/*benefits responsive*/
     #benefits {
        width: 100%;
        height: 1200px;
        margin: 10px auto;
    }
    #main-header{
        padding-top: 100px;
        margin: 0 ;
        text-align: center;
    }
    #benefits-left{
        width: 100%;
        float: left;
    }
   
    #benefits-right {
        width: 100%;
        clear:both;
        float: left;
    }
    #benefits-pic-border {
        margin-left: 25%;
    }
}

/* 900px wide and down medium screen*/
@media screen and (max-width: 900px){
    
    #menu {
        clear: both;
        float: left;
        margin-left: 20px;
    }
    #inspo-right {
        margin-left:15% ;
    }
    #main-recipe-header {
        padding-top: 125px;
        margin: 0 ;
        width: 90%;
        text-align: center;
    }
    #recipe-pic-border {
        margin-right: 10%;
    }
    #benefits-pic-border {
        margin-left: 15%;
    }
}
/* 600px wide and down for small screens */
@media screen and (max-width: 600px){
    #menu {
        clear: both;
        float: left;
        margin-left: 20px;
    }
    #header{
        width: 550px;
    }
    #header-text {
        width: 350px;
        margin: 0 auto;
        font-size: 100%;
        letter-spacing: 0 ;
        padding: 0;
    }

    #inspo-right {
        margin-left: 10%;
    }
    #inspo-pic {
        width: 90%;
        height :90%
    }
    #inspo-left {
        width: 90%;
    }
    #pic-border{
        width: 90%;
        height :90%
    }
    #main-recipe-header {
        padding-top: 125px;
        margin: 0 ;
        width: 90%;
        text-align: center;
    }
    #cake-info{
        width: 80%;
    }
    #recipe-pic{
        width: 80%;
        height :80%;
    }
    #recipe-pic-border {
        margin:0 auto;
        width: 80%;
        height :80%;

    }
    #benefits-header{
        font-size: 20px;
    }
    #benefits-pic{
        width: 90%;
        height :90%;
    }
    #benefits-pic-border {
        margin:0 auto;
        width: 80%;
        height :80%;
    }

}

@media screen and (max-width: 380px){
    #header-text{
        right: 24px;
    }
    #header{
        width: 400px;
    }
}
