@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@1,300&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
    background-color:#F5F5F5;
}

body { 
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: black;
}
/*heading and title*/

h1, h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 6px;
    color:black
}

#title{ 
    float: left;
    font-size: 250%;
}

/* navigation bar*/

#menu {
    font-size: 100%;
    letter-spacing: 6px;
}

#menu, #logo{
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}
#menu a:hover {
    border-bottom: 2px dotted black;
}

.active{
    border-bottom: 2px dotted black;
}

/*header image*/

#header{
    height: 500px;
    width: 100%;
    background: url(../images/header3.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
} 

/* header text*/


#header-text { 
    font-size: 120%;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;

    width: 450px;
    height: 60px;

    padding: 20px;

    background-color:rgba(255, 100, 0, .5);

    bottom: 30px;
    right: 70px;

    position: absolute;
}

/* inspiration section */

#inspo {
    height: 500px;
}
#inspo-header { 
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    text-align: center;
    font-size: 200%;
}

#inspo-left {
    padding-top: 30px;
    width: 60%;
    float: left;
}

#inspo-right{
    padding-top: 30px;
    width: 40%;
    float: right;
}

.inspo-text-left {
    width: 80%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    padding-left: 50px;
}

#pic-border {
    width: 400px;
    height: 400px;
    padding: 20px;
    border-style: dotted;
    border-color:rgba(255, 100, 0, .7);
    border-width: 2px;
    margin-bottom: 40px;
}
#inspo-pic {
    background: url(../images/inspopic2.jpg) no-repeat center center;
    height: 100%;
}


/*footer*/
footer {
   text-align: center;
   padding: 3px;
   height:50px ;
   clear: both;
   background-color: rgba(255, 100, 0, .5);
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    color: #000;
}

/* recipe page header */

#recipe-header{
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    text-align: center;
    font-size: 200%;
}

#cake-info{
    width: 100%;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    padding: 50px;
    text-align: center;
}

/* cook/prep time & servings */
.time-table {
    width: 70%;
    text-align: center;
    font-size: 20px;
    border: dotted 2px black;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 5px;
}

.time-table i {
    color:rgba(255, 100, 0, .7);
}
/*ingredients & instructions*/

#recipe {
    width: 70%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    padding-left: 50px;
}

.recipe-header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 200%;
    text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 100, 0, .7);
}

.second-header {
    width: 100%;
    font-size: 120%;
}

.list{
    line-height: 30px;
    padding-bottom: 20px;
}

#recipe-right{
    padding-top: 30px;
    width: 40%;
    float: right;
}
#recipe-left{
    padding-top: 30px;
    width: 60%;
    float: left;
    text-align: left;
}

.recipe-text-left {
    width: 80%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    padding-left: 50px;
}

#recipe-pic-border {
    width: 500px;
    height: 637px;
    padding: 20px;
    border-style: dotted;
    border-color:rgba(255, 100, 0, .7);
    border-width: 2px;
    margin:60px;
    float: right;
}
#recipe-pic {
    background: url(../images/cake2.jpg) no-repeat center center;
    height: 100%;
}
#notes-header {
    width: 100%;
    padding: 20px;
    font-size: 200%;
    text-decoration-line:underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 100, 0, .7);
}
#notes {
    margin: 40px;
    text-align: center;
}
#recipe-right p {
    line-height: 30px;
}

/* benefits page */

.benefits-header {
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    text-align: center;
    font-size: 200%;
}

#benefits p {
    margin: 40px;
    text-align: center;
}
#benefits h3 {
    margin: 10px;
    text-align: center;
}

#list-benefits{
    margin: 40px;
    text-align: center;
}
#sams-recommendations{
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 200%;
}
#benefits-right{
    padding-top: 30px;
    width: 40%;
    float: right;
}
#benefits-left{
    padding-top: 30px;
    width: 60%;
    float: left;
    text-align: left;
}

#benefits-text-left {
    width: 80%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 20px;
    padding-left: 50px;
}
#benefits-pic-border{
    width: 450px;
    height: 600px;
    padding: 20px;
    border-style: dotted;
    border-color:rgba(255, 100, 0, .7);
    border-width: 2px;
    margin:60px;
    float: right;
}

#benefits-pic {
    background: url(../images/benefits.jpg) no-repeat center center;
    height: 100%;
}

i:hover {
    font-size: 30px ;
}