@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@1,300&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
    background-color:#F5F5F5;
}

body { 
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: black;
}
/*heading and title*/

h1, h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 6px;
    color:black
}

#title{ 
    float: left;
    font-size: 250%;
}

/* navigation bar*/

#menu {
    font-size: 100%;
    letter-spacing: 6px;
}

#menu, #logo{
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}
#menu a:hover {
    border-bottom: 2px dotted black;
}

.active{
    border-bottom: 2px dotted black;
}

/*header image*/

#header{
    height: 500px;
    width: 100%;
    background: url(../images/header3.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
} 

/* header text*/


#header-text { 
    font-size: 120%;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;

    width: 450px;
    height: 60px;

    padding: 20px;

    background-color:rgba(255, 100, 0, .5);

    bottom: 30px;
    right: 70px;

    position: absolute;
}

/* inspiration section */


#inspo { 
    padding: 25px;
    text-align: center;
    font-size: 200%;
}
#inspo-header { 
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
}

#inspo-text {
    width: 50%;
    padding-top: 20px;
    padding-left: 50px;
    text-align: left;
}

#inspo-about-text {
    width: 50%;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
    text-align: left;
}

#inspo-pic{ 
    height: 367px;
    width: 531px;
    background: url(../images/inspo2.jpg) no-repeat center center;
    position: relative;
    left: 700px;
    bottom: 420px;
}



/*footer*/
footer {
   text-align: center;
   padding: 3px;
   height:50px ;
   clear: both;
   background-color: rgba(255, 100, 0, .5);
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    color: #000;
}